---
layout: default
permalink: /fakes/
---

<div class="home">

<div class="shadow">
  <img src="/assets/pills.png">
</div>
<br><br>

  <h1>Fighting fake drugs</h1>

<p>The World Health Organization estimates that about 1 in 10 medicines in low- and middle-income countries are substandard or falsified, meaning that they do not meet quality standards and specifications.  These "fake drugs" endanger patients, waste money, and erode trust in healthcare providers.  </p>

<p>The Grover Lab works to develop low-cost, easy-to-use, open-source tools for identifying these fake drugs.  </p><br><br>


  <ul class="post-list">
    {% for paper in site.research reversed %}
      {% if paper.fakes %}
      <li>
      <br>

        <h2>
          <a class="post-link" href="{{ paper.url | prepend: site.baseurl }}">{{ paper.title }}</a>
        </h2>
        {{ paper.content }}

           <div class='altmetric-embed' data-template='dimensions' data-badge-popover='right' data-hide-no-mentions='true' data-doi="{{ paper.doi }}"></div>  <span class="__dimensions_badge_embed__" data-doi="{{ paper.doi }}" data-hide-zero-citations="true" data-style="small_rectangle"></span>


      </li>
      {% endif %}
    {% endfor %}
  </ul>


  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
