---
layout: default
permalink: /people/
---

<div class="home">

  <h1>People</h1>

  <ul class="post-list">
    {% for person in site.people %}
      <li>
      <br>
<!--         <span class="post-meta">{{ person.name }}</span>
 -->
         <img src="/assets/{{ person.picture }}" width="30%" align="left" style="margin:0px 20px 0px 0px">
        <h2>
          <a class="post-link" href="{{ person.url | prepend: site.baseurl }}">{{ person.name }}</a>
          </h2>
        {{ person.content }}
        {% if person.alumni %}
          ALUMNI!?!
          {% endif %}
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
