<footer class="site-footer">

  <div class="wrapper">

    <h2>Thanks to our funding sources:</h2>

    <div class="container">
    <img src="/assets/nsf.png"><br>The National Science Foundation<br><br>
  </div>

  <div class="container">
    <img src="/assets/gates-foundation.jpg"><br>The Bill and Melinda Gates Foundation<br><br>
  </div>

  </div>





  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>Prof. William H. Grover</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.bluesky_username %}
          <li>
            {% include icon-bluesky.html username=site.bluesky_username %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
